<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Movie Search </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      placeholder="Movie Search"
      animated="true"
      [debounce]="250"
      showCancelButton="always"
      [value]="searchText"
      (ionChange)="search($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="loading">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="searchArray.length===0">
    <ion-list-header>
      <ion-label>Suggestion</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let idea  of ideasArray">
      <ion-label color="primary" (click)="searchText=idea">{{idea}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let search of searchArray">
        <ion-card>
          <img [src]="search.poster_path | image" (click)="searchClick(search.id)">
          <ion-card-header>
            <ion-card-subtitle>{{search.release_date}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <h2>{{search.title}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
